.content {
    min-height: 100vh;
    background-color: aliceblue;
    margin: 5vh 5vw;
    padding: 1vh 2vw;
    border-radius: 0.3em;
    box-shadow: 5px 5px 10px #000;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

}