.header-bar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin: 0;
    min-height: 5vh;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: antiquewhite;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 10px #000;
    z-index: 2;
}

.header-nav {
    flex: 1;
    display: inherit;
    background-color: none;
    
    justify-content: flex-start;
}

.header-user {
    flex: 1;
    display: inherit;
    background-color: none;
    justify-content: flex-end;
}

.header-bar li {
    list-style: none;
    margin: 1em;
}

.header-bar a {
    text-decoration: none;
    color: #fffb09;
}

.header-bar a:hover {
    text-decoration: underline;
    color: #fafafa;
}

